.button {
    background-color: $red;
    color: $white;
    display: inline-block;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 94%;
    border: none;
    padding: 20px 0;
    text-align: center;
    width: 300px;
}