.button {
    background-color: $red;
    color: $white;
    display: inline-block;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 94%;
    border: none;
    padding: 20px 0;
    text-align: center;
    width: 300px;

    &:hover {
        transition: 0.5s;
    //    background: #CE0032;
       box-shadow: 0 5px 21px -5px rgba(238, 48, 94, 0.6);
    }
}

@media (max-width: 768px) {
    .button {
        width: 240px;
        font-weight: 500;
        font-size: 16px;
        padding: 17.5px 0;
    }
}