.contacts__header-block {

        display: flex;
        align-items: flex-end;
        align-self: stretch;
        max-width: 1208px;
        width: 100%;
        margin: 0 auto;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;

    padding: 0;
    margin: 0 auto;
min-height: 840px;
position: relative;
}

.contacts__header {
  margin-right: 40px;
}

.contacts__label {
  min-height: 184px;
  border-left: 9px solid #FF124C;
  position: absolute;
  top: 400px;
  right: 6.5%;
  //background: white;
  width: 390px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 230%;
  color: #ffffff;
  text-transform: uppercase;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 5px;
  & p {
    margin: 0;
  }
}

.contacts__map {
  width: 100%;
  min-height: 688px;
  background: url("../img/map.png") no-repeat;
}

.contacts__form {
  position: absolute;
  top: 240px;
  left: 8%;
  width: 526px;
  min-height:  540px;
  background-color: rgba(50, 54, 63, 0.9);


  & form {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    padding-top: 73px;
    display: flex;
    flex-direction: column;
  }
}

.contacts__form-btn {
  width: 100%;
min-height: 60px;
color: #FFFFFF;
border: none;
text-align: center;
font-family: "Montserrat";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 94%;
cursor: pointer;
background: #FF124C;
}

.contacts__form-input {
  border: none;
  outline: none;
  border-bottom: 2px solid #ffffff;
  width: 100%;
  background: transparent;
  padding-bottom: 6px;
  margin-bottom: 45px;

  &::placeholder {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 94%;

color: rgba(255, 255, 255, 0.5);

  }

}

.contacts__form-label {
  font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 94%;
color: #FFFFFF;
margin-bottom: 18px;

}

.contacts__form-agree {
  font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 94%;
/* identical to box height, or 15px */


color: rgba(255, 255, 255, 0.7);
}

.contacts__content {
  margin-top: 80px;
  width: 100%;
  min-height: 688px;
}
@media (max-width: 1200px) {
  .contacts__form {
    position: absolute;
    top: 240px;
    left: 8%;
    width: 450px;
    min-height:  540px;
    background-color: rgba(50, 54, 63, 0.9);


    & form {
      margin: 0 auto;
      max-width: 80%;
      width: 100%;
      padding-top: 73px;
      display: flex;
      flex-direction: column;
    }
  }
}

@include tablet {
  .contacts {
    min-height: auto;
  }

  .contacts__header-block {
    padding-left: 20px;
  }
  .contacts__content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 40px;
    min-height: auto;

  }

  .contacts__map {
    min-height: 283px;
  }
  .contacts__form {
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 390px;
    & form {
      max-width: 100%;
      padding-top: 27px;
    }
  }

  .contacts__form-label {
font-size: 18px;
line-height: 94%;
margin-bottom: 15px;
  }
  .contacts__form-input {
    padding-bottom: 5px;
    margin-bottom: 34px;
    &::placeholder {

  font-size: 12px;
  line-height: 94%;

    }
  }

  .contacts__form-btn {
    min-height: 50px;
    width: 240px;
    padding-top: 7px;
    font-size: 16px;
    line-height: 94%;
    margin: 0 auto;
    margin-top: 5px;
  }
  .contacts__label {
    right: 0;
    padding-left: 10px;
    padding-top: 3px;
    left: 25px;
    top: 133px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 200%;
    min-height: 81px;
    width: 232px;
    border-left: 4px solid  #FF124C;
  }
  .contacts__form-agree {
    font-size: 8px;
    margin: 0 auto;
    margin-top: 17px;

  }
}
