.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 25px;
    box-sizing: border-box;
    width: 90%;
    flex-wrap: wrap;
    margin-right: 0;
    @include laptop {
      width: 100%;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 0;

    }

}
.footer {
  width: 100%;
  background-color: #000000;
}

.footer__phone, .footer__list-link {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 94%;
color: $white;
text-decoration: none;
cursor: pointer;
transition: 0.2s;
&:hover {
  transition: 0.2s;
  opacity: 0.7;
}
}

.footer__top {
  display: flex;
}

.footer__phone {
  padding-top: 5px;
    @include laptop {
      display: none;
    }
}

.footer__bottom-link {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 94%;
color: $white;
text-decoration: none;
margin-bottom: 10px;
cursor: pointer;
transition: 0.2s;
&:hover {
  transition: 0.2s;
  opacity: 0.7;
}
}


.footer__content {
  display: flex;
  flex-direction: column;
    width: 100%;
}

.footer__bottom {
  display: flex;
  width: 100%;
  //justify-content: flex-start;
  //justify-content: space-between;
}

.footer__bottom-container {
    display: flex;
    margin-right: 7.8%;
    padding-top: 15px;
    width: 80%;
    justify-content: flex-start;
    flex-wrap: wrap;
      @include laptop {
        flex-direction: column;
      }

  }

.footer__social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 10%;
  min-width: 122px;
  margin-top: -3px;
  @include laptop {
    position: absolute;
    top: 30px;
    //right: 7.5%;
    right: 20px;
    width: auto;
  }
}

.footer__wrapper {
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 68px;
  display: flex;
  //padding-right: 8%;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 45px;
  box-sizing: border-box;
    @include laptop {
      flex-direction: column;
      position: relative;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 25px;
      padding-bottom: 35px;
    }
}

.footer__logo-container {
  margin-right: 5.2%;
  padding-top: 7px;

    @include laptop {
      margin-right: 0;
      & img {
        width: 59px;
        height: 30px;
      }
    }
}

.footer__item {
  margin-right: 7.4%;
  &--phone {
    display: none;
  }
  &:last-child {
    margin-right: 0;
}

@include laptop {
  margin-bottom: 32px;
  width: 50%;
  margin-right: 0;
  &--video {
    order: 1;
  }
  &--conference {
    order: 2;
    text-align: right;
  }
  &--event {
    order: 3;
  }
  &--testinomials {
    order: 4;
    text-align: right;
  }
  &--team {
    order: 5;
  }
  &--phone {
    display: block;
    order: 6;
    text-align: right;
  }
  &--presentation {
    order: 7;
    margin-bottom: 0;
  }
}
}

.footer__bottom-link {
  margin-right: 27.5%;
  white-space: nowrap;
  &:last-child {
    margin-right: 0;
  }
      @include laptop {
        margin-right: 0;
        margin-bottom: 50px;
        &:last-child {
          margin-bottom: 0;
        }
      }
}

.footer__social-item {
  margin-right: 17%;
  @include laptop {
    margin-right: 32px;
    &:last-child {
      margin-right: 0;
    }
  }
}
