

.other-links-swiper {
    flex-grow: 1;

    &--en {
        margin-left: 40px;
    }
}

.other-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-start;

    & li {
        text-align: center;
        width: auto !important;
        margin-right: 25px;
    }

    &--en li {
        margin-right: 70px;
    }

}

.other-links a {
    text-decoration: none;
    font-weight: 900;
    font-size: 30px;
    line-height: 94%;
    letter-spacing: 0.04em;
    color: $promo-border;
    text-transform: uppercase;
    // margin-left: 20px;
}

@media (max-width: 1250px) {
    .other-links {
        & li {
            width: auto !important;
            margin-right: 0;
            display: flex;
        }
    }

}
@media (max-width: 768px) {
    .other-links a {
        font-size: 14px;
        line-height: 94%;
        letter-spacing: 0.04em;
        // margin-left: 10px;
    }

    .other-links-swiper--en {
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .other-links a {
        font-size: 10px;
    }
}