.promo {
    padding-top: 164px;
    margin-top: -164px;
    position: relative;
    min-height: 500px;
    overflow-x: hidden;
    margin-bottom: 219px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('../img/promo-back.png') no-repeat 0 0;
        opacity: 0.7;
        z-index: -1;
    }
}

.promo .container{
    color: $white;
    display: flex;
    min-height: 580px;
}

.promo__description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 94%;
    margin-top: 17px;
    margin-bottom: 50px;
}

.promo__info-block,
.promo__video-block {
    display: flex;
    flex-direction: column;
}

.promo__video-block {
    position: absolute;
    left: 53.8%;
    margin-left: -90px;
    top: 0;
    padding-top: 165px;
    bottom: 0;

    &::after {
        content: "";
        position: absolute;
        left: 45px;
        top: 0;
        bottom: 0;
        right: -1000px;
        left: 45px;
        height: 100%;
        background: linear-gradient(180deg, #FF124C 9.84%, $background 91.72%);
        transform: skew(-18.4deg);
        z-index: -1;
    }

    & img {
        margin-left: 3px;
    }
}

.promo__play-block {
    display: flex;
    justify-content: center;
    margin-top: 43px;
    margin-left: -45px;

    & img {
        width: 49px;
        height: 49px;
        margin-right: 20px;
        margin-left: -50px;
    }

    & p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 94%;
        margin-top: 15px;
    }
}

.promo__video-categories {
    position: absolute;
    bottom: 0;
    left: 49%;
    align-self: flex-end;
    display: flex;
    border-bottom: 3px solid $promo-border;
    list-style: none;
    margin: 130px 0 0 -80px;
    padding: 0;
    max-width: 790px;
    width: 58%;
    // padding: 0 30px;
    // justify-content: space-between;
}

.promo__video-category a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 94%;
    color: $promo-border;
    padding: 0;
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.promo__video-category {
    position: relative;


    &::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 6px;
        background: $promo-border;
        right: -1px;
        bottom: -3px;
    }

    &--active::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: white;
        position: absolute;
        bottom: -3px;
        left: 0;
    }

    &--event{
        width: 20%;
    }

    &--conf{
        width: 30%;
    }

    &--present{
        width: 30%;
    }

    &--vr{
        width: 20%;

        &::before {
            display: none;
        }
    }
}
.promo__video-category--active a {
    color: white;
    position: relative;
}

.promo__header {
    margin-top: 118px;
    margin-bottom: 0px;
    margin-right: 100px;
    padding-left: 21px;
    font-weight: 900;
    font-size: 50px;
    line-height: 94%;
    letter-spacing: 0.04em;

    &::before {
        top: 6px;
        width: 12px;
        height: 35px;
    }
}

.promo__video-skin--2 {
    display: none;
}

.promo__preview {
    transform: skew(-18.2deg);
    margin-left: 58px;
    height: 328px;
    width: 735px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    & img {
        min-width: 850px;
        transform: skew(18.2deg);
        // width: 850px !important;
    }

}

@media(max-width: 1450px) {
    .promo__video-categories {
        left: 48%;
    }
}

@media(max-width: 1250px) {
    .promo {
        margin-bottom: 100px;
    }
    .promo .container {
        flex-direction: column;
        padding: 0;
    }
    .promo__video-block {
        position: relative;
        padding: 0 20px;
        padding-top: 40px;
        padding-bottom: 50px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;

        &::after {
            background: linear-gradient(180deg, #FF124C 0%, rgba(255, 18, 76, 0) 100%);
            transform: skew(0);
            left: -20px;
            top: 0;
            right: -20px;
            margin: 0;
        }

        & img {
            width: 100%;
            max-width: 900px;
            height: auto;
        }
    }

    .promo__video-categories {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        margin-top: -10px;
    }

    .promo__info-block {
        align-items: center;
        padding: 0 20px;
    }

    .promo__social-list {
        position: absolute;
        top: 55px;
        right: 20px;
        z-index: 3;
    }

    .promo__header {
        margin-right: 0;
        
        &::before {
            height: 38px;
        }
    }

    .promo__button {
        margin-bottom: 200px;
    }

    .promo__play-block {
        height: 0;
        margin: 0;

        & p {
            display: none;
        }

        & a {
            display: block;
            position: absolute;
            bottom: 50%;
            transform: translate(-50%, 50%);
            left: 50%;
            width: 49px;
            height: 49px;
        }

        & img {
            margin: 0;
        }
    }

    .promo__preview {
        width: 100%;
        position: relative;
        padding-top: 50%;
        height: auto;
        margin-left: 0;
        transform: skew(0);
        overflow: hidden;

        & img {
            position: absolute;
            top: 0;
            min-height: 100%;
            transform: skew(0);
            min-width: 100%;
        }
    }
}

@media(max-width: 768px) {
    .promo__header {
        margin-top: 20px;
        font-size: 30px;
        line-height: 94%;
        letter-spacing: 0.05em;
        padding-left: 15px;

        &::before {
            top: 2px;
            width: 8px;
            height: 23px;
        }
    }

    .promo__description {
        font-size: 14px;
    }

    .promo__button {
    margin-bottom: 180px;
    }

    .promo__video-category a {
        font-size: 16px;
    }
    
}

@media(max-width: 650px) {
    .promo__video-category {
         & a{
            font-size: 14px;
        }
    }
}

@media(max-width: 500px) {
    .promo {
        margin-bottom: 66px;
    }
    
    .promo__video-category {
         & a{
            font-size: 10px;
            padding-bottom: 5px;
        }
    }

    .promo__info-block {
        align-items: flex-start;
        padding: 0 25px;
    }

    .promo__video-block {
        padding: 18px 23px 37px;
    }

    .promo__social-list {
        top: 110px;
    }

    .promo__header {
        margin-top: 40px;
        font-size: 20px;
        padding-left: 10px;

        &::before {
            width: 5px;
            height: 14px;
        }
    }

    .promo__button {
        align-self: center;
        margin-bottom: 108px;
    }

    .promo__description {
        font-size: 12px;
        line-height: 120%;
        max-width: 220px;
        margin-bottom: 37px;
    }
}

@media(max-width: 380px) {
    .promo__video-category {
        &--conf{
            width: 35%;
        }
        &--present{
            width: 35%;
        }

        &--vr {
            width: 12%
        }
        &--event {
            width: 18%;
        }
    }
}