.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 223px;
}

.works__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    // justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 56px;
}

.works__item {
    margin-bottom: 25px;
    position: relative;
    margin-right: 25px;

    &:nth-child(2n) {
        margin-right: 0;
    }

    & a {
        box-sizing: border-box;
        // border: 7px solid transparent;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            box-sizing: border-box;
            border:14px solid #FF124C;
            z-index: 1;
            opacity: 0;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            top: 50%;
            left: 50%;
            outline: 1 px solid skyblue;
            transform: translate(-50%, -50%);
            background: url('../img/play.svg') no-repeat 0 0;
            background-size: cover;
            opacity: 0;
        }
    }

    & img {
        display: block;
        height: 295px;
        width: 295px;
        outline: 1px solid red;
        filter: grayscale(100%)
    }

    &--big img {
        display: block;
        height: 305px;
        width: auto;
        outline: 1px solid red;
        filter: grayscale(100%)
    }

    & a:hover {

        // border: 7px solid #FF124C;
        // width: 100%;
       &::before {
           transition: 0.3s linear;
           opacity: 1;
       }

       &::after {
        transition: 0.3s linear;
        opacity: 1;
    }

        & img {
            filter: none;
        }

       
    }
}

.works__header-block {
    display: flex;
    align-items: flex-end;
    align-self: stretch;
    width: 100%;
    max-width: 1208px;
    padding: 0;
    margin: 0 auto;
}

.works__header {
    margin-right: 40px;
    flex-shrink: 0;
}

.works__button--up {
    margin-top: -38px;
    display: flex;
    justify-content: center;

    & img {
        margin-left: 20px;
    }
}

.works__button--back {
    color: white;
    text-decoration: none;
    align-self: flex-start;
    font-size: 20px;
    line-height: 94%;

    & img {
        margin-right: 30px;
        transform: rotate(-90deg);
    }
}

.works__button-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 1250px) {
    
    .works {
        padding-bottom: 100px;
    }
    .works__header-block {
        padding-left: 20px;
    }

    .works__item {
        margin-bottom: 20px;
        width: 24%;
        margin-right: 1.65%;

        & a {
            position: relative;
            padding-top: 100%;
            display: block;
            height: 0;
            width: 100%;
            overflow: hidden;
        }
    
        & img {
            position: absolute;
            left: 0;
            top: 0;
            height: auto;
            width: 100%;
            min-height: 100%;
            outline: 1px solid red;
            filter: grayscale(100%)
        }

    }

    .works__item--big {
        width: 49%;

        & a {
            padding-top: 50%;
        }
    }

}

@media (max-width: 768px) {
    .works__button-block {
        padding-top: 20px;
        flex-direction: row;
        justify-content: space-between;
    }

    .works__button--up {
        margin-top: -18px;
    }
    .works__header {
        margin-right: 30px;
    }
    .works__item {
        width: 48.5%;
        margin-right: 2.5%;
        margin-bottom: 30px;

        & img {
            filter: grayscale(0);
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-child(2n) {
            margin-right: 0;
        } 
        & a:hover::after {
            width: 60px;
            height: 60px;
        }

        & a:hover::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 10px solid #FF124C;
        }
    
    }
    .works__item--big {
        width: 100%;
        margin-right: 0;
        & img {
            height: auto;
            width: 100%;
        }
    }
    .works__list {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .works__button--back span {
        display: none;
    }

    .works {
        padding-bottom: 90px;
    }
    
    .works__item {
        margin-bottom: 25px;
    }
    .works__item--big {
        width: 100%;
        & img {
            height: auto;
            width: 100%;
        }
    }
}